@charset "UTF-8";

/* I should integrate this better (should be in landpage css, but it needs to change depending on the device) */
.landpage_text{
  text-align: center;
  margin-top: 130px;
}

body{
  margin: 0;
}