@charset "UTF-8";

/* General variables */
/* :root is needed to be written on every component that i want to use variables on, without it, it wont load properly the variables */
:root {
    --font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* THEME VARIABLES */
/* ********************************************************* */
[theme=light] {
    /* general reusable values */
    --default-text-color: #222;
    --emphasis-color-rgb: 0, 0, 0;

    /* BODY (general values) */
    --body-background: 
        radial-gradient(circle at top left, #3b82f6, transparent 40%),
        radial-gradient(circle at bottom right, #ec4899, transparent 40%),
        linear-gradient(180deg, #bebebe, #bebebe);

        min-height: 100vh;

    /* LANDPAGE */
    --landpage-main_text-color: #000;
    --landpage-p_text-color: rgb(0, 54, 75);
}

[theme=dark] {
    /* general reusable values */
    --default-text-color: #d6ebff;
    --emphasis-color-rgb: 255, 255, 255;

    /* BODY (general values) */
    --body-background: 
        radial-gradient(circle at top left, #3b82f6, transparent 40%),
        radial-gradient(circle at bottom right, #ec4899, transparent 40%),
        linear-gradient(180deg, #0f172a, #020617);

        min-height: 100vh;

    /* LANDPAGE */
    --landpage-main_text-color: rgb(24, 210, 210);
    --landpage-p_text-color: rgb(191, 241, 241);
}
/* ********************************************************* */

/* DEVICE VARIABLES */
/* ********************************************************* */
[device=mobile] {
    /* BODY (general values) */
    /* ---------------------------------------------------- */
    --devices-body-font-size: 13px;
    /* ---------------------------------------------------- */

    
    /* NAVBAR */
    /* ---------------------------------------------------- */
    /* navbar */
    --devices-navbar-padding: 10px 25px 10px 30px;
    
    /* navbar_brand */
    --devices-navbar_brand-margin-right: 0px;
    
    /* nav_link */
    --devices-nav_link-font-size: 15px;
    
    /* link_on_the_right */
    --devices-link_on_the_right-width: 70px;
    
    /* navbar_theme_icon_image */
    --devices-navbar_theme_icon_image-margin: 5px 0 0 10px;
    /* ---------------------------------------------------- */

    
    /* LANDPAGE */
    /* ---------------------------------------------------- */
    /* h1 */
    --devices-h1-font-weight: 500;

    /* landpage_text */
    --devices-landpage_intro_text-margin: 100px 30px 0 30px;

    /* landpage_intro */
    --devices-landpage_intro-font-weight: 350;
    
    /* fixed_bottom */
    --devices-fixed_bottom-font-size: 9px;
    /* ---------------------------------------------------- */


    /* LINK_TREE */
    /* ---------------------------------------------------- */
    --devices-list_body-margin-top: 50px;
    --devices-list_body-width: 300px;
    /* ---------------------------------------------------- */
}

[device=desktop] {
    /* BODY (general values) */
    /* ---------------------------------------------------- */
    --devices-body-font-size: 19px;
    /* ---------------------------------------------------- */
    

    /* NAVBAR */
    /* ---------------------------------------------------- */
    /* navbar */
    --devices-navbar-padding: 10px 130px 10px 200px;
    
    /* navbar_brand */
    --devices-navbar_brand-margin-right: 26px;
    
    /* nav_link */
    --devices-nav_link-font-size: 17px;
    
    /* link_on_the_right */
    /* --devices-link_on_the_right-width: 70px; */
    
    /* navbar_theme_icon_image */
    --devices-navbar_theme_icon_image-margin: 5px 0 0 15px;
    /* ---------------------------------------------------- */
    

    /* LANDPAGE */
    /* ---------------------------------------------------- */
    /* h1 */
    --devices-h1-font-weight: 500;

    /* landpage_text */
    --devices-landpage_intro_text-margin: 50px 0 0 0;

    /* landpage_intro */
    --devices-landpage_intro-font-weight: 350;
    
    /* fixed_bottom */
    --devices-fixed_bottom-font-size: 13px;
    /* ---------------------------------------------------- */


    /* LINK_TREE */
    /* ---------------------------------------------------- */
    --devices-list_body-margin-top: 100px;
    --devices-list_body-width: 700px;
    /* ---------------------------------------------------- */
}
/* ********************************************************* */

body{
    /* Structure */
    margin: 0px;

    /* Color */
    /* background-color: var(--body-background-color); */
    font-family: var(--font-family);
    font-size: var(--devices-body-font-size);

    background: var(--body-background);
}

h1{
    /* Structure */
    margin-bottom: 0;

    /* Styles */
    font-weight: var(--devices-h1-font-weight);
    color: var(--landpage-main_text-color);
}

h2 {
    margin: 0px;
    color: var(--landpage-main_text-color);
}

p{
    margin: 0px;
    color: var(--landpage-p_text-color);
}

.container_fluid {
    /* Structure */
    display: flex;
    align-items: center;
}

button {
    /* Cursor */
    cursor: pointer;    /* Shows the mouse cursor as a pointer (shows you can click the button) */

    /* Removing default values */
    background: none;
    border: none;
    padding: 0;

    /* Style */
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

a {
    text-decoration: none;
}