@charset "UTF-8";

/* General variables */
/* :root is needed to be written on every component that i want to use variables on, without it, it wont load properly the variables */
:root {
    --font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* THEME VARIABLES */
/* ********************************************************* */
[theme=light] {
    /* general values */
    --color_main_text_1: rgb(79, 10, 119);
    --color_main_text_2: rgb(99, 8, 151);
    --color_text_1: rgb(0, 27, 100);
    --color_border_1: rgba(0, 26, 83, 0.336);
    --color_border_2: rgba(255, 255, 255, 0.05);
    --color_background_1: rgba(0, 1, 68, 0.178);
    --color_background_2: rgba(15, 23, 42, 0.226);

    /* BODY */
    --body-background: 
        radial-gradient(circle at top left, #3b82f6, transparent 40%),
        radial-gradient(circle at bottom right, #ec4899, transparent 40%);

        min-height: 100vh;
    
    /* Navbar */
    --color_main_link: #d6ebff;
    --color_links: rgb(255, 255, 255, 0.65);
    --color_on_hover: rgba(6, 0, 97, 0.65);
}

[theme=dark] {
    /* general values */
    --color_main_text_1: rgb(186, 100, 243);
    --color_main_text_2: rgb(214, 250, 250);
    --color_text_1: rgb(214, 250, 250);
    --color_border_1: rgba(0, 26, 83, 0.336);
    --color_border_2: rgba(255, 255, 255, 0.05);
    --color_background_1: rgba(0, 1, 68, 0.178);
    --color_background_2: rgba(15, 23, 42, 0.226);

    /* BODY */
    --body-background: 
        radial-gradient(circle at top left, #3b82f6, transparent 40%),
        radial-gradient(circle at bottom right, #ec4899, transparent 40%);
        background-color: #0f172a;

        min-height: 100vh;
    
    /* Navbar */
    --color_main_link: #d6ebff;
    --color_links: rgb(255, 255, 255, 0.65);
    --color_on_hover: rgba(6, 0, 97, 0.65);
}
/* ********************************************************* */

/* DEVICE VARIABLES */
/* ********************************************************* */
[device=mobile] {
    /* BODY (general values) */
    --devices-h1-font-size: 30px;
    --devices-h1-font-weight: 700;
    --devices-h2-font-size: 24px;
    --devices-h3-font-size: 18px;
    --devices-p-font-size: 13px;

    
    /* NAVBAR */
    /* navbar */
    --devices-navbar-padding: 10px 25px 10px 30px;
    --devices-nav_link-font-size: 15px;
    --devices-link_on_the_right-width: 800px;
    --devices-navbar_theme_icon_image-margin: 5px 0 0 10px;

    
    /* LANDPAGE */
    --devices-landpage_intro_text-padding-top: 70px;
    --devices-landpage_intro-font-weight: 350;
    --devices-landpage_intro-width: 90%;
    --devices-landpage_section-width: 88%; /* With this the sections are level with each other, it's just here because desktop's one is different and if i want to change it */
    --devices-fixed_bottom-font-size: 9px;


    /* LINK_TREE */
    --devices-list_body-margin-top: 50px;
    --devices-list_body-width: 300px;

    /* TABLE */
    --table_th1_font_size: 11px;
    --table_th2_font_size: 10px;
    --table_td_font_size: 9px;
}

[device=desktop] {
    /* Website's general values */
    --devices-h1-font-size: 45px;
    --devices-h1-font-weight: 700;
    --devices-h2-font-size: 40px;
    --devices-h3-font-size: 25px;
    --devices-p-font-size: 19px;
    

    /* NAVBAR */
    --devices-navbar-padding: 10px 130px 10px 200px;
    --devices-navbar_brand-margin-right: 26px;
    --devices-nav_link-font-size: 17px;
    --devices-navbar_theme_icon_image-margin: 5px 0 0 15px;
    

    /* LANDPAGE */
    --devices-landpage_intro-font-weight: 350;
    --devices-landpage_intro_text-padding-top: 70px;
    --devices-landpage_intro-width: 1000px;
    --devices-landpage_section-width: 65%;
    --devices-fixed_bottom-font-size: 13px;


    /* LINK_TREE */
    --devices-list_body-margin-top: 100px;
    --devices-list_body-width: 700px;

    /* TABLE */
    --table_th1_font_size: 24px;
    --table_th2_font_size: 20px;
}
/* ********************************************************* */

body{
    /* Structure */
    margin: 0px;

    /* Style */
    font-family: var(--font-family);
    background: var(--body-background);
}

h1{
    /* Structure */
    margin: 0px;

    /* Style */
    font-weight: var(--devices-h1-font-weight);
    font-size: var(--devices-h1-font-size);
    color: var(--color_main_text_1);
}

h2 {
    /* Structure */
    margin: 0px;

    /* Style */
    color: var(--color_main_text_1);
    font-size: var(--devices-h2-font-size);
}

h3 {
    /* Structure */
    margin: 0px;

    /* Style */
    color: var(--color_main_text_2);
    font-size: var(--devices-h3-font-size);
}

p{
    /* Structure */
    margin: 0px;

    /* Style */
    color: var(--color_text_1);
    font-size: var(--devices-p-font-size);
}

.container_fluid {
    /* Structure */
    display: flex;
    align-items: center;
}

button {
    /* Cursor */
    cursor: pointer;    /* Shows the mouse cursor as a pointer (shows you can click the button) */

    /* Removing default values */
    background: none;
    border: none;
    padding: 0;

    /* Style */
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

a {
    text-decoration: none;
}