@charset "UTF-8";

.navbar {
  padding: 10px 200px 10px 200px;
}

/* I should integrate this better (should be in landpage css, but it needs to change depending on the device) */
.landpage_text{
  text-align: center;
  margin-top: 130px;
  font-size: 20px;
}

h1 {
  font-weight: 500;
}

body{
  margin: 0;
}

.fixed-bottom{
  font-size: 13px;
}