body{
    font-size: 13px;
    margin: 0px;
}

/* I should integrate this better (should be in landpage css, but it needs to change depending on the device) */
.landpage_text{
    margin: 30px;
    text-align: center;
    margin-top: 100px;
}

.fixed-bottom{
    font-size: 9px;
}