@charset "UTF-8";

/* General variables */
/* :root is needed to be written on every component that i want to use variables on, without it, it wont load properly the variables */
:root {
    --font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* THEME VARIABLES */
/* ********************************************************* */
[theme=light] {
    /* general reusable values */
    --default-text-color: #222;
    --emphasis-color-rgb: 0, 0, 0;

    /* BODY (general values) */
    --body-background: 
        radial-gradient(circle at top left, #3b82f6, transparent 40%),
        radial-gradient(circle at bottom right, #ec4899, transparent 40%),
        linear-gradient(180deg, #bebebe, #bebebe);

        min-height: 100vh;

    /* LANDPAGE */
    --landpage-main_text-color: #000;
    --landpage-p_text-color: rgb(0, 54, 75);
}

[theme=dark] {
    /* general reusable values */
    --default-text-color: #d6ebff;
    --emphasis-color-rgb: 255, 255, 255;

    /* BODY (general values) */
    --body-background: 
        radial-gradient(circle at top left, #3b82f6, transparent 40%),
        radial-gradient(circle at bottom right, #ec4899, transparent 40%),
        linear-gradient(180deg, #0f172a, #020617);

        min-height: 100vh;

    /* LANDPAGE */
    --main_text-color: rgb(24, 210, 210);
    --p_text-color: rgb(191, 241, 241);
}
/* ********************************************************* */

/* DEVICE VARIABLES */
/* ********************************************************* */
[device=mobile] {
    /* BODY (general values) */
    /* ---------------------------------------------------- */
    --devices-h1-font-size: 30px;
    --devices-h2-font-size: 24px;
    --devices-h3-font-size: 18px;
    --devices-p-font-size: 13px;
    /* ---------------------------------------------------- */

    
    /* NAVBAR */
    /* ---------------------------------------------------- */
    /* navbar */
    --devices-navbar-padding: 10px 25px 10px 30px;
    --devices-nav_link-font-size: 15px;
    --devices-link_on_the_right-width: 70px;
    --devices-navbar_theme_icon_image-margin: 5px 0 0 10px;
    /* ---------------------------------------------------- */

    
    /* LANDPAGE */
    /* ---------------------------------------------------- */
    --devices-h1-font-weight: 500;
    --devices-landpage_intro_text-padding-top: 70px;
    --devices-landpage_intro-font-weight: 350;
    --devices-landpage_section-width: 88%; /* With this the sections are level with each other, it's just here because desktop's one is different and if i want to change it */
    --devices-fixed_bottom-font-size: 9px;
    /* ---------------------------------------------------- */


    /* LINK_TREE */
    /* ---------------------------------------------------- */
    --devices-list_body-margin-top: 50px;
    --devices-list_body-width: 300px;
    /* ---------------------------------------------------- */
}

[device=desktop] {
    /* BODY (general values) */
    /* ---------------------------------------------------- */
    --devices-h1-font-size: 45px;
    --devices-h2-font-size: 35px;
    --devices-h3-font-size: 25px;
    --devices-p-font-size: 19px;
    /* ---------------------------------------------------- */
    

    /* NAVBAR */
    /* ---------------------------------------------------- */
    --devices-navbar-padding: 10px 130px 10px 200px;
    --devices-navbar_brand-margin-right: 26px;
    --devices-nav_link-font-size: 17px;
    --devices-navbar_theme_icon_image-margin: 5px 0 0 15px;
    /* ---------------------------------------------------- */
    

    /* LANDPAGE */
    /* ---------------------------------------------------- */
    --devices-h1-font-weight: 500;
    --devices-landpage_intro-font-weight: 350;
    --devices-landpage_intro_text-padding-top: 70px;
    --devices-landpage_section-width: 90%;
    --devices-fixed_bottom-font-size: 13px;
    /* ---------------------------------------------------- */


    /* LINK_TREE */
    /* ---------------------------------------------------- */
    --devices-list_body-margin-top: 100px;
    --devices-list_body-width: 700px;
    /* ---------------------------------------------------- */
}
/* ********************************************************* */

body{
    /* Structure */
    margin: 0px;

    /* Style */
    font-family: var(--font-family);
    background: var(--body-background);
}

h1{
    /* Structure */
    margin: 0px;

    /* Style */
    font-weight: var(--devices-h1-font-weight);
    font-size: var(--devices-h1-font-size);
    color: var(--main_text-color);
}

h2 {
    margin: 0px;
    color: var(--main_text-color);
    font-size: var(--devices-h2-font-size);
}

h3 {
    margin: 0px;
    color: var(--p_text-color);
    font-size: var(--devices-h3-font-size);
}

p{
    margin: 0px;
    color: var(--p_text-color);
    font-size: var(--devices-p-font-size);
}

.container_fluid {
    /* Structure */
    display: flex;
    align-items: center;
}

button {
    /* Cursor */
    cursor: pointer;    /* Shows the mouse cursor as a pointer (shows you can click the button) */

    /* Removing default values */
    background: none;
    border: none;
    padding: 0;

    /* Style */
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

a {
    text-decoration: none;
}