.navbar{
    padding-left: 150px;
    padding-right: 150px;
}

.theme_icon{
    width: 20px;
}

button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.right_of_navbar{
    display: flex;
    flex-wrap: inherit;
    align-items: center;
}

.navbar_button{
    width: 100px;
}