.navbar {
    z-index: 1000;  /* Sets importance of component (show in screen before every other thing) */
    /* Flexbox */
    justify-content: space-between;

    /* Structure */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    height: 30px;
    padding: var(--devices-navbar-padding);

    /* Style */
    background-color: rgba(21, 140, 186, 1) !important;

    /* Border */
    border-style: solid;
    border-width: 0px 0px 4px 0px;
    border-color: #137ea7;
}

/* Main navbar link (redirects to "home" page) */
.navbar_brand {
    /* Style */
    color: var(--default-text-color);
    font-size: 22px;
}

/* This is for navigation html lists */
.navbar_nav {
    /* Structure */
    margin: 5px 0 0 0;
    padding: 0px;

    /* Style */
    list-style: none;   /* This remove the "dots" from the html list */
}

.nav_link {
    /* Structure */
    margin-left: 24px;

    /* Style */
    text-decoration: none;
    color: rgba(var(--emphasis-color-rgb), 0.65);
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;    /* This is for when I hover in the link */
    font-size: var(--devices-nav_link-font-size);
}

.nav_link:hover, .nav_link:focus {
    /* Style */
    color: rgba(var(--emphasis-color-rgb), 0.8);
}

.link_on_the_right {
    /* Structure */
    width: var(--devices-link_on_the_right-width);
}

.navbar_theme_icon_image {
    /* Structure */
    width: 22px;
    margin: var(--devices-navbar_theme_icon_image-margin);
}