<nav class="navbar container-fluid">
  <div class="container-fluid">
    <a class="navbar-brand" href="">Home</a>
    <ul class="navbar-nav">
      <li>
        <a class="nav-link" href="mi_cv" (click)="update_in_cv()">Mi CV</a>
      </li>
    </ul>
  </div>
  <div class="container-fluid">
    <button *ngIf="in_cv" (click)="change_cv_language()" class="nav-link">
      Cambiar idioma CV
    </button>
    <button (click)="changeTheme()">
      <img src="website_theme.png" alt="Description of my image" class="navbar_theme_icon_image">
    </button>
  </div>
</nav>