:host {
    position: fixed;        /* Pins background relative to viewport, not to parent */
    inset: 0;               /* Stretches element to fill entire vewport, it's short for (top: 0; right: 0; bottom: 0; left: 0;) */
    z-index: -1;            /* Not required, but here to make sure this stays behind all other elements */
    pointer-events: none;   /* Not required, but here to make sure the mouse is able to click every button and link properly */
}
