[data-bs-theme=light] {
    --landpage-text-color: #000;
}

[data-bs-theme=dark] {
    --landpage-text-color: rgb(24, 210, 210);
}

h1{
    /* Margin - Padding */
    margin-bottom: 0;

    /* Styles */
    font-weight: var(--devices-h1-font-weight);
}

p{
    margin-top: 10px;
}

/* I need to introduce this better depending if i'm on the pc or phone. */
/* I need to make this with the service and use the variable to select what type i'll choose */
.landpage_text{
    text-align: center;
    margin: var(--devices-landpage_text-margin);
}

.fixed_bottom{
    /* Structure */
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    /* Styles */
    font-size: var(--devices-fixed_bottom-font-size);
}

.fixed_bottom > a {
    color: var(--landpage-text-color);
    font-weight: 800;
}

.landpage_text{
    /* Margin - Padding */
    margin: var(--devices-landpage_text-margin);

    /* Styles */
    color: var(--landpage-text-color);
}

.main_text {
    /* Need to integrate this better for different devices */
    /* font-size: 12px; */
    font-weight: 300;
}