[data-bs-theme=light] {
    --landpage-text-color: #000;
}

[data-bs-theme=dark] {
    --landpage-text-color: rgb(24, 210, 210);
}

h1{
    margin-bottom: 0;
}

p{
    margin-top: 10px;
}

/* I need to introduce this better depending if i'm on the pc or phone. */
/* I need to make this with the service and use the variable to select what type i'll choose */
/* .landpage_text{
    text-align: center;
    margin-top: 130px;
} */

.fixed-bottom{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;

  /* Need to integrate this better */
  /* font-size: 9px; */
}

.fixed-bottom > a {
  color: var(--landpage-text-color);
  font-weight: 800;
}

.landpage_text{
    color: var(--landpage-text-color);
}

.main_text {
    /* Need to integrate this better for different devices */
    /* font-size: 12px; */
    font-weight: 300;
}