<div class="landpage_text">
    <h1>¡Bienvenido a mi página!</h1>
    <p class="lead">
        Si clickas en "CV" en la barra de arriba, podrás acceder a mi CV. <br>
        Si vienes a ver mis otros projectos siéntete libre de explorar la página a tu gusto. <br>
        <br>
        Un gusto tenerte de visita 😋
        <br>
        <br>
        <br>
        <br>
        <br>
        La versión de esta página en teléfono aún no está lista, si estás teniendo problemas desde móvil es normal.
    </p>
    <p class="fixed-bottom">Si quieres ver el código fuente de esta página puedes visitar este <a href="https://github.com/miler2/my_angular_page">link</a> a mi github.</p>
</div>