.landpage {
    /* flexbox */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 55px;

    /* Structure */
    text-align: center;
    padding-top: 4px;   /* This padding is equal to the border width of navbar */
    padding-bottom: 60px;
}

/* Intro */
/* --------------------------------------------------------------------------------------------------- */
.landpage_intro_text {
    /* Structure */
    width: 100%;
    padding-top: var(--devices-landpage_intro_text-padding-top);
    padding-bottom: 26px;
    flex-direction: column;

    /* Style */
    backdrop-filter: blur(100px);
    background-color: var(--color_background_1);

    /* Border */
    border-bottom: 2px solid var(--color_border_1);
}

.landpage_intro {
    /* Structure */
    margin-bottom: 25px;
    width: var(--devices-landpage_intro-width);

    /* Styles */
    font-weight: var(--devices-landpage_intro-font-weight);
}
/* --------------------------------------------------------------------------------------------------- */


/* Landpage sections */
/* --------------------------------------------------------------------------------------------------- */
.landpage_sections {
    /* flexbox */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 55px;

    /* Structure */
    width: 90%;
}

.landpage_section:nth-child(even) {
    align-self: flex-end;
}

.landpage_section{
    /* flexbox */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;

    /* Structure */
    padding: 20px;
    width: var(--devices-landpage_section-width);

    /* Styles */
    background-color: var(--color_background_2);
    backdrop-filter: blur(40px);
    text-align: left;

    /* Border */
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color:var(--color_border_2);
    border-radius: 10px;
}

.informacion_personal > dl > dd {
    margin-left: 7px;
    padding-bottom: 5px;
}

table, th, td {
    /* Structure */
    text-align: center;
    
    /* Border */
    /* I think it fits better without these, but i'll leave them just incase */
    /* border-top: 2px solid;
    border-color: var(--color_border_1);
    border-collapse: collapse; */
}

table {
    /* Structure */
    width: var(--table_width);

    /* Styles */
    color: var(--color_text_1);
    background-color: var(--color_background_1);
    
    /* Border */
    border: 2px solid;
    border-color: var(--color_border_1);
}

.table_second_titles > td {
    /* Styles */
    color: var(--color_main_text_2);
}

.table_main_title > th {
    /* Styles */
    font-size: var(--table_th1_font_size);
}

th {
    /* Structure */
    padding: 5px;

    /* Styles */
    font-size: var(--table_th2_font_size);
    color: var(--color_main_text_1);
}

td {
    /* Styles */
    font-size: var(--table_td_font_size);
}

dt > p{
    /* Style */
    font-size: 24px;
}

ul {
    /* Structure */
    padding-left: 20px;
}

.experiencia_laboral {
    /* Structure */
    padding-top: 5px;
}

.experiencia_laboral > dd {
    /* Structure */
    margin-left: 20px;
}
/* --------------------------------------------------------------------------------------------------- */


/* Fixed bottom */
/* --------------------------------------------------------------------------------------------------- */
.fixed_bottom{
    /* Structure */
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;

    /* Styles */
    font-size: var(--devices-fixed_bottom-font-size);
    background-color: rgba(1, 21, 85, 0.603);

    /* Border */
    border-top: 1px solid var(--color_border_1);
}

.fixed_bottom > a {
    color: var(--main_text-color);
    font-weight: 800;
}

/* --------------------------------------------------------------------------------------------------- */