.landpage {
    /* flexbox */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;

    /* Structure */
    text-align: center;
}

/* Intro */
/* --------------------------------------------------------------------------------------------------- */
.landpage_intro_text{
    /* Structure */
    margin: var(--devices-landpage_intro_text-margin);
}

.landpage_intro {
    /* Structure */
    margin-bottom: 25px;

    /* Styles */
    font-weight: var(--devices-landpage_intro-font-weight);
}
/* --------------------------------------------------------------------------------------------------- */


/* Landpage sections */
/* --------------------------------------------------------------------------------------------------- */
.landpage_sections {
    /* flexbox */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;

    /* Structure */
    width: 90%;
}

.landpage_section{
    /* Structure */
    padding: 20px;
    /* width: 700px; */

    /* Styles */
    /* background-color: var(--landpage-landpage_sections-background-color); */
    background: rgba(15, 23, 42, 0.226);
    backdrop-filter: blur(40px);
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color:rgba(255, 255, 255, 0.05);
    border-radius: 10px;
}

.landpage_section_left {
    /* Structure */
    text-align: left;
}

.landpage_section_right {
    /* Structure */
    text-align: right;
}
/* --------------------------------------------------------------------------------------------------- */

/* Fixed bottom */
/* --------------------------------------------------------------------------------------------------- */
.fixed_bottom{
    /* Structure */
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    /* Styles */
    font-size: var(--devices-fixed_bottom-font-size);
}

.fixed_bottom > a {
    color: var(--landpage-main_text-color);
    font-weight: 800;
}

/* --------------------------------------------------------------------------------------------------- */