<div class="landpage">
    <div class="landpage_intro_text container_fluid">
        <h1>Bienvenido a mi página</h1>
        <p class="landpage_intro">
            Esta página web está dedicada a describir mis conocimientos y mostrar mis projectos actuales y futuros.
            <br>
            Siéntete libre de explorar la página a tu gusto.
            <br><br><br>
            Un placer tenerte de visita
        </p>
    </div>
    <div class="landpage_sections">
        <div class="landpage_section landpage_section_left">
            <div>
                <h2>Habilidades</h2>
            </div>
            <dl>
                <dt><h3>Networking y Sistemas</h3></dt>
                
                <dd><p><li>Administración y configuración de redes</li></p></dd>
                <dd><p><li>Ansible</li></p></dd>
                <dd><p><li>Mantenimiento de sistemas</li></p></dd>
                <dd><p><li>Instalación y mantenimiento de Hardware</li></p></dd>
                <dd><p><li>Troubleshooting</li></p></dd>
                <br>

                <dt><h3>Development</h3></dt>
                
                <dd><p><li>Javascript / Typescript</li></p></dd>
                <dd><p><li>Node.js</li></p></dd>
                <dd><p><li>Angular</li></p></dd>
                <dd><p><li>Desarrollo de APIs</li></p></dd>
                <br>

                <dt><h3>Automación</h3></dt>

                <dd><p><li>n8n</li></p></dd>
                <dd><p><li>Scripting (Bash, Powershell)</li></p></dd>
                <dd><p><li>Bases de datos</li></p></dd>
                <dd><p><li>MySQL / MariaDB</li></p></dd>
                <dd><p><li>SQL</li></p></dd>
                <br>

                <dt><h3>Soft Skills</h3></dt>

                <dd><p><li>Habilidades de comunicación</li></p></dd>
                <dd><p><li>Trabajo en Equipo</li></p></dd>
                <dd><p><li>Resolución eficiente de problemas</li></p></dd>
            </dl>
            <!-- <button>ver más</button> -->
        </div>
        <div class="landpage_section landpage_section_right">
            <div>
                <h2>Experiencia Laboral Informática</h2>
            </div>
            <dl>
                <h3>IkosTech Advanced - Administrador de sistemas</h3>
                <p>2023 - 2024</p>
                <br>

                <dt><p>Qué hice:</p></dt>
                <p>En mi tiempo trabajando, en ese entonces, esta empresa pequeña, tenía dos roles principales. Administrador de Sistemas, que fué para lo que me contrataron, y programador fullstack, asistiendo a mis compañeros por mis amplios conocimientos en páginas web.</p>
                <br><br>

                <dt><p>Roles/tareas realizadas:</p></dt>
                <dl class="text_align">
                    <dd><p><li>Configuración, monitorización y mantenimiento de redes corporativas, garantizando conectividad estable y acceso seguro para los empleados</li></p></dd>
                    <dd><p><li>Gestión de servidores Windows y Linux, incluyendo actualizaciones, supervisión del rendimiento y operaciones de respaldo</li></p></dd>
                    <dd><p><li>Montaje y ensamblaje de PCs de escritorio, estaciones de trabajo y configuraciones de hardware adaptadas a las necesidades de la empresa</li></p></dd>
                    <dd><p><li>Organización y mantenimiento de bases de datos internas (MySQL/MariaDB), incluyendo optimización de estructuras y comprobaciones periódicas de datos</li></p></dd>
                    <dd><p><li>Colaboración en el despliegue y gestión de servicios en la nube utilizados en toda la empresa</li></p></dd>
                    <dd><p><li>Resolución de incidencias del sistema y soporte técnico al personal, mejorando la eficiencia general de TI</li></p></dd>
                    <dd><p><li>Documentación de configuraciones, procedimientos y cambios en la red para asegurar la continuidad operativa</li></p></dd>
                    <dd><p><li>Programación de páginas web usando Angular</li></p></dd>
                    <dd><p><li>Creación de bases de datos y APIs (node.js) para las páginas web</li></p></dd>
                </dl>
            </dl>
            <!-- <button>ver más</button> -->
        </div>
        <div class="landpage_section landpage_section_left">
            <div>
                <h2>Experiencia Laboral Camarero</h2>
            </div>
            <dl>
                <h3>Camarero - Muerde La Pasta / Tetería</h3>
                <p>2024 - 2025</p>
                <br>

                <dt><p>Qué hice:</p></dt>
                <p>Empecé como camarero y, con el tiempo, asumí la coordinación y supervisión del equipo durante el servicio.</p>
                <br>

                <dt><p>Habilidades obtenidas:</p></dt>
                <dd><p><li>Atención al cliente en un entorno dinámico y de alta demanda</li></p></dd>
                <dd><p><li>Responsabilidad en la organización del trabajo del personal junior y aseguramiento de la eficiencia en las áreas de servicio</li></p></dd>
                <dd><p><li>Desarrollo de habilidades de comunicación y multitarea</li></p></dd>
            </dl>
        <!-- <button>ver más</button> -->
        </div>
        <div class="landpage_section landpage_section_right">
            <div>
                <h2>Proyectos (personales)</h2>

                <dl>
                    <dt><h3>Manejo de hardware</h3></dt>
                    
                    <p>Tengo un setup de dos ordenadores en mi casa, siendo montados y mantenidos los dos por mí mismo, siendo el segundo un servidor con Windows y Linux para gestionar los procesos mencionados abajo.</p>
                    <br>
                    
                    <dt><h3>Configuración de redes</h3></dt>
                    <p>La red está configurada para la disponivilidad de distintos servicios para uso personal, y de mis amigos en redes externas, por ejemplo:</p>
                    
                    <dd><p><li type="circle">Diversos juegos</li></p></dd>
                    <dd><p><li type="circle">Servidores de ofimática, similares a los proporcionados por google workspace</li></p></dd>
                    <dd><p><li type="circle">Nube personalizada</li></p></dd>
                    <dd><p><li type="circle">Backups temporales de diversos archivos</li></p></dd>
                    <dd><p><li type="circle">...</li></p></dd>
                    <br>

                    <dt><h3>Proyecto *especial*</h3></dt>
                    <p>En mis tiempos libres estoy desarrollando mi propio juego de estrategia con unreal engine. Estoy en desarrollo muy temprano, por lo que los detalles los proporcionaré más adelante.</p>
                    <br>

                    <dt><p>Tecnologías usadas:</p></dt>
                    <dd><p><li type="circle">Lenguaje de programación GO para la API</li></p></dd>
                    <dd><p><li type="circle">Bases de datos (MariaDB)</li></p></dd>
                    <dd><p><li type="circle">C++ para la programación con Unreal Engine</li></p></dd>
                    <dd><p><li type="circle">Otras diferentes tecnologías menos importantes</li></p></dd>
                </dl>
            </div>
            <!-- <button>ver más</button> -->
        </div>
        <div class="landpage_section landpage_section_left">
            <h2>Lenguajes de Programación conocidos</h2>
            <ul>
                <p><li>Javascript / Typescript</li></p>
                <p><li>Bash</li></p>
                <p><li>Powershell</li></p>
                <p><li>SQL</li></p>
                <p><li>C++</li></p>
                <p><li>GO</li></p>
            </ul>
        </div>
    </div>
    <p class="fixed_bottom">Si quieres ver el código fuente de esta página puedes visitar este <a href="https://github.com/miler2/my_angular_page">link</a> a mi github.</p>
</div>