h1{
    margin-bottom: 0;
}

p{
    margin-top: 10px;
}

.landpage_text{
    text-align: center;
    margin-top: 130px;
}

.fixed-bottom{
  position: absolute;
  bottom: 0;
}

/* .lead{
    margin-bottom: 400px;
} */